@page "/"
@inject IDialogService DialogService
@inject ProjectManager ProjectManager
@inject SolutionManager SolutionManager

<PageTitle>解决方案</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center" Orientation="Orientation.Vertical"
             VerticalAlignment="VerticalAlignment.Center" Style="heigth: 100%;">
    <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
        <FluentButton Appearance="Appearance.Accent" OnClick="AddLocalProject">添加本地项目</FluentButton>
        <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size24.AddSquare())" />
    </FluentStack>
    @if (projects.Count == 0)
    {
        <FluentLabel Typo="Typography.H6">暂无任何项目，请添加已存在的本地项目或点击 + 创建新解决方案！</FluentLabel>
    }
    else
    {
        foreach (var project in projects)
        {
            <FluentCard Width="100%">
                <FluentLabel Typo="Typography.H3">@project.DisplayName</FluentLabel>
                <FluentLabel Typo="Typography.Body">@project.Name</FluentLabel>
                <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                    <FluentLabel Typo="Typography.Body">@project.Path</FluentLabel>
                    <div>
                        <FluentStack>
                            <FluentButton IconStart="@(new Icons.Filled.Size20.Delete().WithColor(Color.Error))">删除项目</FluentButton>
                            <FluentButton Appearance="Appearance.Accent">进入项目</FluentButton>
                        </FluentStack>
                    </div>
                </FluentStack>
            </FluentCard>
        }
    }
</FluentStack>

@code {
    List<Project> projects = [];

    private async Task AddLocalProject(MouseEventArgs arg)
    {
        DialogParameters parameters = new()
        {
            Title = "添加本地项目或解决方案",
            PrimaryAction = "确定",
            SecondaryAction = "取消",
            Width = "360px",
            Modal = false,
            ShowDismiss = false,
        };

        var dto = new AddProjectDto();
        var dialog = await DialogService.ShowDialogAsync<AddProjectDialog>(dto, parameters);

        var result = await dialog.Result;
        if (result.Cancelled) return;
        await ProjectManager.AddAsync(dto.ProjectName, dto.ProjectDirectory);
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectManager.ListAsync();
    }
}
