@page "/"
@using System.Diagnostics
@inherits PageBase
@inject ProjectManager ProjectManager
@inject SolutionManager SolutionManager

<PageTitle>@Lang(StudioLangKey.Solution)</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center" Orientation="Orientation.Vertical"
             VerticalAlignment="VerticalAlignment.Center" Style="heigth: 100%;">
    <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
        <FluentButton Appearance="Appearance.Accent" OnClick="AddLocalProject">
            @Lang(StudioLangKey.Add, StudioLangKey.Solution)
        </FluentButton>
        <a href="create-project">
            <FluentButton Appearance="Appearance.Accent"
                          IconStart="@(new Icons.Regular.Size24.Add())" />
        </a>
    </FluentStack>
    @if (projects.Count == 0)
    {
        <FluentLabel Typo="Typography.H6">
            @Lang(StudioLangKey.AddNewSolution)
        </FluentLabel>
    }
    else
    {
        <FluentGrid AdaptiveRendering="true" Style="width: 100%;">
            @foreach (var project in projects)
            {
                <FluentGridItem sm="12" md="6">
                    <FluentCard Width="100%">
                        <FluentLabel Typo="Typography.H3">@project.DisplayName</FluentLabel>
                        <FluentLabel Typo="Typography.Body">@project.Name</FluentLabel>
                        <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween" VerticalAlignment="VerticalAlignment.Center">
                            <FluentLabel Typo="Typography.Body">@project.Path</FluentLabel>
                            <div>
                                <FluentStack>
                                    <FluentButton IconStart="@(new Icons.Filled.Size20.Delete().WithColor(Color.Error))" OnClick="() => DeleteProject(project)">
                                        @Lang(StudioLangKey.Delete, StudioLangKey.Project)
                                    </FluentButton>
                                    <FluentButton Appearance="Appearance.Accent">@Lang(StudioLangKey.Enter, StudioLangKey.Workbench)</FluentButton>
                                </FluentStack>
                            </div>
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>
            }
        </FluentGrid>
    }
</FluentStack>

@code {
    List<Project> projects = [];

    private async Task AddLocalProject(MouseEventArgs arg)
    {
        DialogParameters parameters = new()
        {
            Title = Lang(StudioLangKey.Add, StudioLangKey.Solution),
            PrimaryAction = Lang(StudioLangKey.Create),
            SecondaryAction = Lang(StudioLangKey.Cancel),
            Width = "400px",
            Modal = false,
            ShowDismiss = false,
        };

        var dto = new AddProjectDto();
        var dialog = await DialogService.ShowDialogAsync<AddProjectDialog>(dto, parameters);

        var result = await dialog.Result;
        if (result.Cancelled) return;
        Debug.Assert(dto.ProjectName is not null);
        await ProjectManager.AddAsync(dto.ProjectName, dto.ProjectDirectory);
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectManager.ListAsync();
    }

    private async Task DeleteProject(Project project)
    {
        var dialog = await DialogService.ShowConfirmationAsync(
            Lang(StudioLangKey.ConfirmDeleteMessage),
            primaryText: Lang(StudioLangKey.Yes), secondaryText: Lang(StudioLangKey.No),
            title: Lang(StudioLangKey.Delete, StudioLangKey.Project));

        var result = await dialog.Result;
        if (result.Cancelled) return;
        await ProjectManager.DeleteAsync([project.Id]);
        await OnInitializedAsync();
    }
}
