@page "/workbench/openapi"
@inherits PageBase
@layout Layout
@using StudioMod.Models.ApiDocInfoDtos
@using Share.Models

@if (!isLoading)
{
    <FluentStack Orientation="Orientation.Vertical" Class="w-100" VerticalGap="4">
        @* top Toolbar *@
        <FluentToolbar Orientation="Orientation.Horizontal" Class="w-100 p-2">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.SpaceBetween">

                <FluentStack Orientation="Orientation.Horizontal"
                             HorizontalGap="4">

                    <FluentSelect Appearance="Appearance.Filled"
                                  Items="Docs"
                                  TOption="ApiDocInfoItemDto"
                                  Placeholder="Add OpenApi Endpoint"
                                  OptionText="@(d=>d.Name)"
                                  OptionValue="@(d=>d.Id.ToString())"
                                  @bind-SelectedOption="CurrentDoc">
                    </FluentSelect>

                    <FluentButton Appearance="Appearance.Stealth"
                                  OnClick="() => OpenAddOpenApiDialog()"
                                  Title="@Lang(Localizer.Add, Localizer.OpenApiEndpoint)"
                                  IconStart="@(new Icons.Regular.Size24.Add())">
                    </FluentButton>
                    <FluentButton Appearance="Appearance.Stealth"
                                  Title="edit"
                                  OnClick="() => OpenEditOpenApiDialog()"
                                  IconStart="@(new Icons.Regular.Size24.Edit())">
                    </FluentButton>
                    <FluentButton Appearance="Appearance.Stealth"
                                  Title="delete"
                                  OnClick="()=>DeleteOpenApiAsync()"
                                  IconStart="@(new Icons.Regular.Size24.Delete().WithColor(Color.Error))">
                    </FluentButton>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal"
                             HorizontalGap="4"
                             Class="pe-2"
                             HorizontalAlignment="HorizontalAlignment.End">
                    <FluentButton Appearance="Appearance.Lightweight"
                                  Title="refresh"
                                  IconStart="@(new Icons.Regular.Size24.CodeBlock())"></FluentButton>
                    <FluentButton Appearance="Appearance.Lightweight"
                                  Title="clean solution obj & bin files"
                                  IconStart="@(new Icons.Regular.Size24.ArrowClockwise().WithColor(Color.Warning))">
                    </FluentButton>

                </FluentStack>
            </FluentStack>
        </FluentToolbar>
        @* tabs: api, models *@
        <FluentTabs OnTabChange="HandleOnTabChange"
                    Size="TabSize.Large"
                    Class="w-100 p-1"
                    ActiveTabId="api">
            <FluentTab Label="API" Id="api">
                <FluentSplitter Orientation="Orientation.Horizontal"
                                Panel1Size="240px"
                                Panel1MinSize="240px"
                                Panel2MinSize="60%"
                                BarSize="4"
                                Class="w-100"
                                Style="height:calc(100vh - 156px)">
                    <Panel1>
                        <FluentStack Orientation="Orientation.Vertical" Class="pe-1">
                            <FluentTextField TextFieldType="TextFieldType.Search"
                                             @bind-Value="SearchKeyword"
                                             Class="w-100"></FluentTextField>

                            <FluentNavMenu Class="w-100 list"
                                           Expanded="true">
                                @foreach (var group in FilteredRestApiGroups)
                                {
                                    <FluentNavGroup Expanded="true">
                                        <TitleTemplate>
                                            @group.Name @group.Description
                                        </TitleTemplate>
                                        <ChildContent>
                                            @foreach (var api in group.ApiInfos)
                                            {
                                                <FluentNavLink Class="p-0">
                                                    <span>
                                                        @(api.OperationType.ToString().Substring(0, 1))
                                                    </span>
                                                    <span>
                                                        @(api.Summary ?? api.Router)
                                                    </span>
                                                </FluentNavLink>
                                            }
                                        </ChildContent>
                                    </FluentNavGroup>
                                }
                            </FluentNavMenu>
                        </FluentStack>
                    </Panel1>
                    <Panel2>

                    </Panel2>
                </FluentSplitter>
            </FluentTab>
            <FluentTab Label="Models" Id="models">
                models
            </FluentTab>
        </FluentTabs>
    </FluentStack>
}
