@using CodeGenerator.Models
@inherits PageBase

<FluentDataGrid TGridItem="PropertyInfo"
                Items="@Items"
                Style="min-width:600px"
                RowSize="DataGridRowSize.Medium">
  <PropertyColumn Property="@(p => p.Name)" Title="@Lang(Localizer.Name)" />
  <TemplateColumn Title="@Lang(Localizer.Type)">
    @if (context.IsNavigation)
    {
      <FluentLabel Color="Color.Accent" Class="cursor" @onclick="() => SelectModel(context.NavigationName)">
        <strong>
          @context.Type
        </strong>
      </FluentLabel>
    }
    else
    {
      <FluentLabel>
        @context.Type
      </FluentLabel>
    }
  </TemplateColumn>

  <TemplateColumn Title="@Lang(Localizer.Required)">
    @(context.IsRequired ? "Yes" : "No")
  </TemplateColumn>
  <PropertyColumn Property="@(p => p.CommentSummary)" Title="@Lang(Localizer.Description)" />

  <TemplateColumn Title="@Lang(Localizer.Validate)">
    @if (context.MinLength is not null)
    {
      <span>minLength: @context.MinLength </span>
    }
    @if (context.MaxLength is not null)
    {
      <span>maxLength: @context.MaxLength </span>
    }
    @if (context.IsEnum)
    {
      <span>@context.DefaultValue</span>
    }

  </TemplateColumn>
</FluentDataGrid>

@code {
  [Parameter] public IQueryable<PropertyInfo> Items { get; set; } = default!;

  [Parameter] public EventCallback<string> OnClickModel { get; set; }

  private async Task SelectModel(string? property)
  {
    if (string.IsNullOrWhiteSpace(property))
    {
      return;
    }
    if (OnClickModel.HasDelegate)
    {
      await OnClickModel.InvokeAsync(property);
    }
  }
}
