@inherits LayoutComponentBase
@inject Localizer Localizer
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <FluentLayout>
        <FluentHeader Style="height:64px">
            <FluentNavLink Href="/">
                IdentityServer
            </FluentNavLink>
            <FluentSpacer />
            <AuthorizeView>
                <Authorized>
                    <span>@context.User.Identity?.Name</span>
                </Authorized>         
                <NotAuthorized>
                    <span>Guest</span> 
                </NotAuthorized>
            </AuthorizeView>
            <FluentIcon Value="@(new Icons.Regular.Size20.DarkTheme())" Color="Color.Neutral" />
        </FluentHeader>

        <FluentStack Orientation="Orientation.Horizontal" Width="100%">
            <FluentNavMenu Width="260" Class="nav-menu-side">
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Apps())" Href="/client-apps" Match="NavLinkMatch.All" ForceLoad="true">
                    @Localizer.Get(LanguageKey.ClientApp)
                </FluentNavLink>
            </FluentNavMenu>
            <FluentBodyContent Style="padding:4px">
                @Body
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Class="footer">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                Ater.dry
                <FluentSpacer />
                ...
            </FluentStack>

        </FluentFooter>
    </FluentLayout>
</CascadingAuthenticationState>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<div id="blazor-error-ui" data-nosnippet>
    <span>An unhandled error has occurred.</span>
    <NavLink href="/" class="reload">Reload</NavLink>
    <a class="dismiss">🗙</a>
</div>

<FluentDesignTheme @bind-Mode="@Mode" StorageName="theme" />

@code
{
    public DesignThemeModes Mode { get; set; } = DesignThemeModes.System;
}
