@inherits LayoutComponentBase
@inject Localizer Localizer
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <FluentLayout>
        <FluentHeader class="header">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.SpaceBetween"
                         VerticalAlignment="VerticalAlignment.Center">
                <FluentNavLink Href="/">
                    IdentityServer
                </FluentNavLink>

                <FluentStack Orientation="Orientation.Horizontal"
                             HorizontalAlignment="HorizontalAlignment.Right"
                             VerticalAlignment="VerticalAlignment.Center">
                    <AuthorizeView>
                        <Authorized>
                            <FluentPersona Initials="@context.User.Identity?.Name?[..1].ToUpper()"
                                           ImageSize="36px"
                                           onclick="()=>open = !open"
                                           Id="menu">
                            </FluentPersona>

                            <FluentMenu Anchor="menu" @bind-Open="open" VerticalThreshold="170">
                                <FluentMenuItem>
                                    <FluentStack Orientation="Orientation.Horizontal"
                                                 VerticalAlignment="VerticalAlignment.Center">
                                        <FluentIcon Value="@(new Icons.Regular.Size20.Person())" />
                                        @Localizer.Get(Localizer.Setting)
                                        
                                    </FluentStack>
                                </FluentMenuItem>
                                <FluentDivider />
                                <FluentMenuItem onclick="Logout">
                                    <FluentStack Orientation="Orientation.Horizontal"
                                                 VerticalAlignment="VerticalAlignment.Center">
                                        <FluentIcon Value="@(new Icons.Regular.Size20.SignOut())" />
                                        @Localizer.Get(Localizer.Logout)
                                    </FluentStack>

                                </FluentMenuItem>
                            </FluentMenu>
                        </Authorized>
                        <NotAuthorized>
                        </NotAuthorized>
                    </AuthorizeView>

                    @*                     <FluentIcon Value="@(new Icons.Regular.Size20.DarkTheme())"
                                Color="Color.Neutral" /> *@
                </FluentStack>

            </FluentStack>

        </FluentHeader>

        <FluentStack Orientation="Orientation.Horizontal" Width="100%">
            <FluentNavMenu Width="260" Class="nav-menu-side">
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Apps())" Href="/client-apps" Match="NavLinkMatch.All" ForceLoad="true">
                    @Localizer.Get(Localizer.ClientApp)
                </FluentNavLink>
            </FluentNavMenu>
            <FluentBodyContent Style="padding:4px">
                @Body
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Class="footer">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                Ater.dry
                <FluentSpacer />
                ...
            </FluentStack>

        </FluentFooter>
    </FluentLayout>
</CascadingAuthenticationState>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<div id="blazor-error-ui" data-nosnippet>
    <span>An unhandled error has occurred.</span>
    <NavLink href="/" class="reload">Reload</NavLink>
    <a class="dismiss">🗙</a>
</div>

<FluentDesignTheme @bind-Mode="@Mode" StorageName="theme" />

@code
{
    public DesignThemeModes Mode { get; set; } = DesignThemeModes.System;
    bool open = false;

    public void Logout()
    {
        NavigationManager.NavigateTo("/api/account/logout", true);
    }
}
