@using System.ComponentModel.DataAnnotations
@using AterStudio.Components.Shared.Models
@using CodeGenerator.Helper
@inherits PageBase
@implements IDialogContentComponent<UpsertFileDto>

<FluentDialogHeader ShowDismiss="false">
  <FluentLabel Typo="Typography.PaneHeader">
    @if (IsEdit)
    {
      <span>@Lang(Localizer.Edit, Localizer.File): @Content.FileName@Content.Suffix</span>
    }
    else
    {
      <span>@Lang(Localizer.Add, Localizer.File)</span>
    }
  </FluentLabel>
</FluentDialogHeader>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
  <FluentStack Orientation="Orientation.Vertical" VerticalGap="2">
    <FluentTextField @bind-Value="FileName"
                     Label="@Lang(Localizer.File,Localizer.Name)"
                     Placeholder="fileName without extension,length<100"
                     Class="w-100"
                     AutoComplete="off"
                     Required="true" />
  </FluentStack>
  <FluentStack Orientation="Orientation.Vertical" VerticalGap="2">
    @* monaco editor *@

    <FluentTextArea @bind-Value="FileContent" Rows="20" Class="w-100"></FluentTextArea>
  </FluentStack>
</FluentStack>
<FluentDialogFooter>
  <FluentButton Appearance="Appearance.Accent"
                Type="ButtonType.Button"
                OnClick="SaveAsync">
    @Lang(Localizer.Confirm)
  </FluentButton>
  <FluentButton Appearance="Appearance.Neutral"
                OnClick="CancelAsync">
    @Lang(Localizer.Cancel)
  </FluentButton>
</FluentDialogFooter>

@code {

  [CascadingParameter]
  FluentDialog Dialog { get; set; } = null!;

  [Parameter]
  public UpsertFileDto Content { get; set; } = default!;

  LocalFileHelper fileHelper = default!;

  string FileName { get; set; } = string.Empty;
  string FileContent { get; set; } = string.Empty;

  bool IsEdit => !string.IsNullOrEmpty(Content.FileName);


  protected override void OnInitialized()
  {
    fileHelper = new LocalFileHelper(Content.RootPath);
    if (IsEdit)
    {
      FileName = Content.FileName!;
      FileContent = File.ReadAllText(Content.FullPath);
    }
  }

  private async Task SaveAsync()
  {

    if (FileName.IsEmpty() || FileContent.IsEmpty()
    || FileName.Length > 100)
    {
      ToastService.ShowError(Lang(Localizer.FormValidFailed));
      return;
    }

    var filePath = Path.Combine(Content.RootPath, Content.DirectoryName, FileName + Content.Suffix);
    if (IsEdit)
    {
      LocalFileHelper.UpdateFileContent(filePath, FileContent);
    }
    else
    {
      fileHelper.AddFile(Content.DirectoryName, FileName + Content.Suffix, FileContent);
    }
    await Dialog.CloseAsync(true);
  }
  private async Task CancelAsync()
  {
    await Dialog.CancelAsync();
  }
}
