@page "/workbench/entity/{id}"
@inherits PageBase
@layout Layout

@if (!string.IsNullOrEmpty(project.ProjectName))
{
    <h3>@project.ProjectName</h3>
}

<FluentDataGrid @ref="grid"
                Items="@files"
                ResizableColumns=true
                RowSize="@DataGridRowSize.Medium"
                Pagination="@pagination"
                AutoFit="true"
                HeaderCellAsButtonWithMenu="true">
    <TemplateColumn Title="@Lang(Localizer.Entity)" Sortable="true">

        <FluentStack Orientation="Orientation.Horizontal"
                     VerticalAlignment="VerticalAlignment.Center">

            @if (!string.IsNullOrWhiteSpace(context.ModuleName))
            {
                <FluentLabel Typo="Typography.Body" Color="Color.Neutral">(@context.ModuleName)</FluentLabel>
            }
            <FluentButton Appearance="Appearance.Lightweight"
                          OnClick="@(_ => EditCodeAsync(context))">
                @context.Name
            </FluentButton>
        </FluentStack>

    </TemplateColumn>
    <PropertyColumn Property="@(c => c.Comment)"
                    Sortable="true"
                    Title="@Lang(Localizer.Description)"
                    Width="200px" />

    <TemplateColumn Title="@Lang(Localizer.Operate)" Align="Align.Start">
        <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
            <FluentButton Title="生成代码"
                          Appearance="Appearance.Stealth"
                          IconEnd="@(new Icons.Regular.Size20.AddSquare())" />
            <FluentButton Title="编辑DTO"
                          Appearance="Appearance.Stealth"
                          IconEnd="@(new Icons.Regular.Size20.Code())" />
            <FluentButton Title="Manager"
                          Appearance="Appearance.Stealth"
                          IconEnd="@(new Icons.Regular.Size20.CodeBlock())" />
            <FluentButton Title="API"
                          Appearance="Appearance.Stealth"
                          IconEnd="@(new Icons.Regular.Size20.Connected())" />
        </FluentStack>
    </TemplateColumn>
</FluentDataGrid>

<FluentDialog @ref="_dialog" 
    @bind-Hidden="@Hidden" 
    Style="--dialog-width:800px" 
    Modal="true"
>
    <FluentDialogHeader ShowDismiss="true">
        <FluentLabel Typo="Typography.PaneHeader">编辑实体<code>@entityName</code>文件</FluentLabel>
        <FluentLabel Typo="Typography.Subject" Color="Color.Accent">
            编辑实体文件的代码内容
        </FluentLabel>
    </FluentDialogHeader>
    <StandaloneCodeEditor CssClass="vh-75" ConstructionOptions="SetCodeEditorOptions" />
    <FluentDialogFooter Style="text-align:end">
        <FluentStack HorizontalAlignment="HorizontalAlignment.End">
            <FluentButton OnClick="_dialog.Hide">关闭</FluentButton>
            <FluentButton Appearance="Appearance.Accent" OnClick="_dialog.Hide">保存</FluentButton>
        </FluentStack>
    </FluentDialogFooter>
</FluentDialog>
