@inherits LayoutComponentBase
@inject Localizer Localizer
@inject IMessageService MessageService
@inject IDialogService DialogService
@inject IJSRuntime JS
<FluentLayout>
  <FluentHeader Class="header" Height="56" Style="background:var(--neutral-layer-2)">
    <ChildContent>
      <FluentStack Orientation="Orientation.Horizontal"
                   VerticalAlignment="VerticalAlignment.Center">
        <FluentNavLink Href="/" Class="align-content-center align-items-center">
          <FluentButton Appearance="Appearance.Neutral"
                        BackgroundColor="rgba(0, 0, 0, 0)">
            <FluentLabel Typo="Typography.Subject">
              Ater Studio

            </FluentLabel>
          </FluentButton>
        </FluentNavLink>
      </FluentStack>
      <FluentSpacer />
      <FluentStack Orientation="Orientation.Horizontal"
                   VerticalAlignment="VerticalAlignment.Center"
                   HorizontalAlignment="HorizontalAlignment.Center">
        <FluentNavLink Href="/">
          <FluentButton Appearance="Appearance.Neutral"
                        BackgroundColor="rgba(0, 0, 0, 0)">
            @Localizer.Get(Localizer.Solution)
          </FluentButton>
        </FluentNavLink>
@*         <FluentNavLink Href="/tools">
          <FluentButton Appearance="Appearance.Neutral"
                        BackgroundColor="rgba(0, 0, 0, 0)">
            @Localizer.Get(Localizer.Tools)
          </FluentButton>
        </FluentNavLink> *@
      </FluentStack>
      <FluentSpacer />
      <FluentStack Orientation="Orientation.Horizontal"
                   VerticalAlignment="VerticalAlignment.Center"
                   HorizontalAlignment="HorizontalAlignment.End">

        <FluentButton BackgroundColor="var(--neutral-layer-2)">
          <FluentIcon Value="@(new Icons.Regular.Size24.DocumentOnePageSparkle())" Color="Color.Neutral" />
        </FluentButton>


        <a href="https://github.com/AterDev/ater.dry.cli" style="line-height:16px">
          @if (isDarkMode)
          {
            <img src="assets/github-mark-white.svg" width="20" alt="github" />
          }
          else
          {
            <img src="assets/github-mark.svg" width="20" alt="github" />
          }
        </a>
        <FluentButton OnClick="OpenNotificationCenterAsync"
                      BackgroundColor="var(--neutral-layer-2)"
                      Title="Notification center">

          @if (MessageService.Count(App.MESSAGES_NOTIFICATION_CENTER) > 0)
          {
            <FluentCounterBadge Count="@MessageService.Count(App.MESSAGES_NOTIFICATION_CENTER)"
                                Max="9"
                                ShowOverflow="true"
                                BackgroundColor="@Color.Error"
                                Color="Color.Fill"
                                Appearance="Appearance.Accent">
              <ChildContent>
                <FluentIcon Value="@(new Icons.Regular.Size24.Alert())"
                            Color="Color.Neutral"
                            Title="Notification center" />
              </ChildContent>
            </FluentCounterBadge>
          }
          else
          {
            <FluentIcon Value="@(new Icons.Regular.Size24.Alert())"
                        Color="Color.Neutral"
                        Title="Notification center" />
          }
        </FluentButton>

      </FluentStack>
    </ChildContent>
  </FluentHeader>
  <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
    <FluentBodyContent Class="main-content">
      <div class="main-body-content">
        <FluentMessageBarProvider Section="MESSAGES_TOP" />
        <ErrorBoundary>
          @Body
        </ErrorBoundary>
      </div>
    </FluentBodyContent>
  </FluentStack>
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMenuProvider />

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>

<FluentDesignTheme @bind-Mode="@Mode"
                   StorageName="theme"
                   OfficeColor="OfficeColor.OneNote"
                   OnLuminanceChanged="ThemeChanged" />
